@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased bg-white dark:bg-slate-900 text-gray-700 dark:text-gray-300;
  }
  strong {
    @apply font-semibold;
  }
  *::selection {
    @apply bg-green-250 bg-opacity-80 text-gray-950 dark:bg-magenta dark:bg-opacity-75 dark:text-gray-50;
  }
}
@layer components {
  .published {
    @apply flex flex-row items-center space-x-2;
  }
  .published .avatar {
    @apply rounded-full;
    @apply my-0;
  }
  .published .text {
    @apply my-0 font-light text-gray-600 dark:text-gray-500;
  }
  .published .author-name {
    @apply no-underline tracking-tight;
  }

  .tags {
    @apply flex flex-row flex-wrap text-xs sm:text-sm;
  }
  .tags .tag {
    @apply font-medium px-2 py-1 rounded mt-0 mb-1 mr-1 bg-gray-100 text-gray-600 dark:bg-gray-950 dark:text-gray-400;
  }
  .tags .tag:last-child {
    @apply mr-0;
  }

  .code-block > pre.content {
    @apply mt-0 rounded-t-none;
  }
}

/* styles for rehype-code-titles plugin */

.rehype-code-title {
  background-color: #f1f5f9;
  color: #475569;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html.dark .rehype-code-title {
  background-color: #1e2228;
  color: #94a3b8;
}

.rehype-code-title + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 1px !important;
}

.rehype-code-title + pre > code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* styles for rehype-highlight plugin */

pre {
  padding: 0 !important;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
}

/* rehype-highlight theme: GitHub Light */

.hljs {
  color: #24292e;
  background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

/* rehype-highlight theme: GitHub Dark Dimmed */

html.dark .hljs {
  color: #adbac7;
  background: #22272e;
}
html.dark .hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #f47067;
}
html.dark .hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #dcbdfb;
}
html.dark .hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #6cb6ff;
}
html.dark .hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #96d0ff;
}
html.dark .hljs-built_in,
.hljs-symbol {
  color: #f69d50;
}
html.dark .hljs-code,
.hljs-comment,
.hljs-formula {
  color: #768390;
}
html.dark .hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #8ddb8c;
}
html.dark .hljs-subst {
  color: #adbac7;
}
html.dark .hljs-section {
  color: #316dca;
  font-weight: 700;
}
html.dark .hljs-bullet {
  color: #eac55f;
}
html.dark .hljs-emphasis {
  color: #adbac7;
  font-style: italic;
}
html.dark .hljs-strong {
  color: #adbac7;
  font-weight: 700;
}
html.dark .hljs-addition {
  color: #b4f1b4;
  background-color: #1b4721;
}
html.dark .hljs-deletion {
  color: #ffd8d3;
  background-color: #78191b;
}

html.dark thead > tr > th {
  height: 40px;
  background: #000;
}
html.dark th {
  color: #adbac7;
}
